In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
heart = pd.read_csv('./student-data/team_exercise_data.csv')
submission_data = pd.read_csv('./student-data/team_exercise_data.csv')

In [3]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255836 entries, 0 to 255835
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                255836 non-null  int64
 1   HeartDisease      255836 non-null  int64
 2   BMI               255836 non-null  float64
 3   Smoking           255836 non-null  object
 4   AlcoholDrinking   255836 non-null  object
 5   Stroke            255836 non-null  object
 6   PhysicalHealth    255836 non-null  int64
 7   MentalHealth      255836 non-null  int64
 8   DiffWalking       255836 non-null  object
 9   Sex               255836 non-null  object
 10  AgeCategory       255836 non-null  object
 11  Race              255836 non-null  object
 12  Diabetic          255836 non-null  object
 13  PhysicalActivity  255836 non-null  object
 14  GenHealth         255836 non-null  object
 15  SleepTime         255836 non-null  int64
 16  Asthma            255836 non-null  object
 17  KidneyDisease     255836 non-null  object
 18  SkinCancer        255836 non-null  object
dtypes: float64(1), int64(5), object(13)
memory usage: 37.1+ MB

In [4]:
heart['AgeCategory'].unique()

array(['45-49', '25-29', '30-34', '65-69', '55-59', '80 or older',
       '18-24', '70-74', '50-54', '35-39', '40-44', '75-79', '60-64'],
      dtype=object)

In [5]:
heart['GenHealth'].unique()

array(['Fair', 'Very good', 'Excellent', 'Good', 'Poor'], dtype=object)

In [6]:
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,143356,0,23.62,Yes,No,No,30,30,Yes,Female,45-49,White,No,No,Fair,5,Yes,No,No
1,290536,0,22.43,No,No,No,1,0,No,Male,25-29,White,No,Yes,Very good,8,No,No,No
2,31529,0,33.28,Yes,No,No,20,30,No,Female,30-34,Hispanic,No,No,Fair,7,No,No,No
3,234535,0,24.96,Yes,No,No,0,0,No,Female,65-69,White,No,Yes,Very good,8,No,No,No
4,264814,0,27.25,Yes,No,No,0,0,No,Female,55-59,White,No,Yes,Very good,5,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,Yes,No,Yes,0,0,No,Male,65-69,White,No,Yes,Excellent,5,Yes,No,No
255832,237010,0,20.16,Yes,No,No,0,8,Yes,Male,30-34,White,No,Yes,Good,7,No,No,No
255833,89082,0,18.89,No,No,No,0,0,No,Female,35-39,White,No,Yes,Excellent,7,No,No,No
255834,117491,0,25.02,No,No,No,0,0,No,Male,80 or older,White,Yes,Yes,Good,8,No,No,No
255835,241204,0,32.55,No,No,No,0,0,No,Male,55-59,White,No,Yes,Good,7,No,No,No

In [7]:
heart['HeartDisease'].unique()

array([0, 1])

In [8]:
heart['AlcoholDrinking'] = heart['AlcoholDrinking'].astype(bool)
heart['Stroke'] = heart['Stroke'].astype(bool)
heart['DiffWalking'] = heart['DiffWalking'].astype(bool)
heart['Diabetic'] = heart['Diabetic'].astype(bool)
heart['PhysicalActivity'] = heart['PhysicalActivity'].astype(bool)
heart['Asthma'] = heart['Asthma'].astype(bool)
heart['KidneyDisease'] = heart['KidneyDisease'].astype(bool)
heart['SkinCancer'] = heart['SkinCancer'].astype(bool)

In [9]:
heart['Smoking'] = heart['Smoking'].astype(bool)

In [10]:
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,143356,0,23.62,True,True,True,30,30,True,Female,45-49,White,True,True,Fair,5,True,True,True
1,290536,0,22.43,True,True,True,1,0,True,Male,25-29,White,True,True,Very good,8,True,True,True
2,31529,0,33.28,True,True,True,20,30,True,Female,30-34,Hispanic,True,True,Fair,7,True,True,True
3,234535,0,24.96,True,True,True,0,0,True,Female,65-69,White,True,True,Very good,8,True,True,True
4,264814,0,27.25,True,True,True,0,0,True,Female,55-59,White,True,True,Very good,5,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,65-69,White,True,True,Excellent,5,True,True,True
255832,237010,0,20.16,True,True,True,0,8,True,Male,30-34,White,True,True,Good,7,True,True,True
255833,89082,0,18.89,True,True,True,0,0,True,Female,35-39,White,True,True,Excellent,7,True,True,True
255834,117491,0,25.02,True,True,True,0,0,True,Male,80 or older,White,True,True,Good,8,True,True,True
255835,241204,0,32.55,True,True,True,0,0,True,Male,55-59,White,True,True,Good,7,True,True,True

In [11]:
heart['HeartDisease'].unique()

array([0, 1])

In [12]:
# BMI - normalized/standardized

#PhysicalHealth, MentalHealth

In [13]:
heart['GenHealth'].unique()
# dummy code

array(['Fair', 'Very good', 'Excellent', 'Good', 'Poor'], dtype=object)

In [14]:
heart['Race'].unique()
# dummy code

array(['White', 'Hispanic', 'Other', 'Asian', 'Black',
       'American Indian/Alaskan Native'], dtype=object)

In [15]:
heart['AgeCategory'].unique()
# binary classification

array(['45-49', '25-29', '30-34', '65-69', '55-59', '80 or older',
       '18-24', '70-74', '50-54', '35-39', '40-44', '75-79', '60-64'],
      dtype=object)

In [16]:
dummy_race = pd.get_dummies(heart['Race'])

In [17]:
heart = pd.concat([heart, dummy_race], axis=1)

In [18]:
dummy_health = pd.get_dummies(heart['GenHealth'])
heart = pd.concat([heart, dummy_health], axis = 1)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,...,Asian,Black,Hispanic,Other,White,Excellent,Fair,Good,Poor,Very good
0,143356,0,23.62,True,True,True,30,30,True,Female,...,0,0,0,0,1,0,1,0,0,0
1,290536,0,22.43,True,True,True,1,0,True,Male,...,0,0,0,0,1,0,0,0,0,1
2,31529,0,33.28,True,True,True,20,30,True,Female,...,0,0,1,0,0,0,1,0,0,0
3,234535,0,24.96,True,True,True,0,0,True,Female,...,0,0,0,0,1,0,0,0,0,1
4,264814,0,27.25,True,True,True,0,0,True,Female,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,...,0,0,0,0,1,1,0,0,0,0
255832,237010,0,20.16,True,True,True,0,8,True,Male,...,0,0,0,0,1,0,0,1,0,0
255833,89082,0,18.89,True,True,True,0,0,True,Female,...,0,0,0,0,1,1,0,0,0,0
255834,117491,0,25.02,True,True,True,0,0,True,Male,...,0,0,0,0,1,0,0,1,0,0
255835,241204,0,32.55,True,True,True,0,0,True,Male,...,0,0,0,0,1,0,0,1,0,0

In [19]:
heart['Health_Excellent'] = heart['Excellent']
heart['Health_Fair'] = heart['Fair']
heart['Health_Good'] = heart['Good']
heart['Health_Poor'] = heart['Poor']
heart['Health_VeryGood'] = heart['Very good']

In [20]:
columns_to_drop = ['Excellent', 'Fair', 'Good', 'Very good', 'Poor', 'GenHealth', 'Race']
heart = heart.drop(columns=columns_to_drop, axis=1)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,...,Asian,Black,Hispanic,Other,White,Health_Excellent,Health_Fair,Health_Good,Health_Poor,Health_VeryGood
0,143356,0,23.62,True,True,True,30,30,True,Female,...,0,0,0,0,1,0,1,0,0,0
1,290536,0,22.43,True,True,True,1,0,True,Male,...,0,0,0,0,1,0,0,0,0,1
2,31529,0,33.28,True,True,True,20,30,True,Female,...,0,0,1,0,0,0,1,0,0,0
3,234535,0,24.96,True,True,True,0,0,True,Female,...,0,0,0,0,1,0,0,0,0,1
4,264814,0,27.25,True,True,True,0,0,True,Female,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,...,0,0,0,0,1,1,0,0,0,0
255832,237010,0,20.16,True,True,True,0,8,True,Male,...,0,0,0,0,1,0,0,1,0,0
255833,89082,0,18.89,True,True,True,0,0,True,Female,...,0,0,0,0,1,1,0,0,0,0
255834,117491,0,25.02,True,True,True,0,0,True,Male,...,0,0,0,0,1,0,0,1,0,0
255835,241204,0,32.55,True,True,True,0,0,True,Male,...,0,0,0,0,1,0,0,1,0,0

In [21]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255836 entries, 0 to 255835
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              255836 non-null  int64
 1   HeartDisease                    255836 non-null  int64
 2   BMI                             255836 non-null  float64
 3   Smoking                         255836 non-null  bool
 4   AlcoholDrinking                 255836 non-null  bool
 5   Stroke                          255836 non-null  bool
 6   PhysicalHealth                  255836 non-null  int64
 7   MentalHealth                    255836 non-null  int64
 8   DiffWalking                     255836 non-null  bool
 9   Sex                             255836 non-null  object
 10  AgeCategory                     255836 non-null  object
 11  Diabetic                        255836 non-null  bool
 12  PhysicalActivity                255836 non-null  bool
 13  SleepTime                       255836 non-null  int64
 14  Asthma                          255836 non-null  bool
 15  KidneyDisease                   255836 non-null  bool
 16  SkinCancer                      255836 non-null  bool
 17  American Indian/Alaskan Native  255836 non-null  uint8
 18  Asian                           255836 non-null  uint8
 19  Black                           255836 non-null  uint8
 20  Hispanic                        255836 non-null  uint8
 21  Other                           255836 non-null  uint8
 22  White                           255836 non-null  uint8
 23  Health_Excellent                255836 non-null  uint8
 24  Health_Fair                     255836 non-null  uint8
 25  Health_Good                     255836 non-null  uint8
 26  Health_Poor                     255836 non-null  uint8
 27  Health_VeryGood                 255836 non-null  uint8
dtypes: bool(9), float64(1), int64(5), object(2), uint8(11)
memory usage: 20.5+ MB

In [22]:
heart['AgeCategory'].unique()

array(['45-49', '25-29', '30-34', '65-69', '55-59', '80 or older',
       '18-24', '70-74', '50-54', '35-39', '40-44', '75-79', '60-64'],
      dtype=object)

In [23]:
under50 = ['45-49', '18-24', '35-39', '30-34', '25-29', '40-44']

In [24]:
heart['over50'] = heart['AgeCategory'].apply(lambda x: x not in under50)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,...,Black,Hispanic,Other,White,Health_Excellent,Health_Fair,Health_Good,Health_Poor,Health_VeryGood,over50
0,143356,0,23.62,True,True,True,30,30,True,Female,...,0,0,0,1,0,1,0,0,0,False
1,290536,0,22.43,True,True,True,1,0,True,Male,...,0,0,0,1,0,0,0,0,1,False
2,31529,0,33.28,True,True,True,20,30,True,Female,...,0,1,0,0,0,1,0,0,0,False
3,234535,0,24.96,True,True,True,0,0,True,Female,...,0,0,0,1,0,0,0,0,1,True
4,264814,0,27.25,True,True,True,0,0,True,Female,...,0,0,0,1,0,0,0,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,...,0,0,0,1,1,0,0,0,0,True
255832,237010,0,20.16,True,True,True,0,8,True,Male,...,0,0,0,1,0,0,1,0,0,False
255833,89082,0,18.89,True,True,True,0,0,True,Female,...,0,0,0,1,1,0,0,0,0,False
255834,117491,0,25.02,True,True,True,0,0,True,Male,...,0,0,0,1,0,0,1,0,0,True
255835,241204,0,32.55,True,True,True,0,0,True,Male,...,0,0,0,1,0,0,1,0,0,True

In [25]:
heart = heart.drop(columns=['AgeCategory'], axis=1)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,...,Black,Hispanic,Other,White,Health_Excellent,Health_Fair,Health_Good,Health_Poor,Health_VeryGood,over50
0,143356,0,23.62,True,True,True,30,30,True,Female,...,0,0,0,1,0,1,0,0,0,False
1,290536,0,22.43,True,True,True,1,0,True,Male,...,0,0,0,1,0,0,0,0,1,False
2,31529,0,33.28,True,True,True,20,30,True,Female,...,0,1,0,0,0,1,0,0,0,False
3,234535,0,24.96,True,True,True,0,0,True,Female,...,0,0,0,1,0,0,0,0,1,True
4,264814,0,27.25,True,True,True,0,0,True,Female,...,0,0,0,1,0,0,0,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,...,0,0,0,1,1,0,0,0,0,True
255832,237010,0,20.16,True,True,True,0,8,True,Male,...,0,0,0,1,0,0,1,0,0,False
255833,89082,0,18.89,True,True,True,0,0,True,Female,...,0,0,0,1,1,0,0,0,0,False
255834,117491,0,25.02,True,True,True,0,0,True,Male,...,0,0,0,1,0,0,1,0,0,True
255835,241204,0,32.55,True,True,True,0,0,True,Male,...,0,0,0,1,0,0,1,0,0,True

In [26]:
gender = ['Female']

heart['isFemale'] = heart['Sex'].apply(lambda x: x in gender)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,...,Hispanic,Other,White,Health_Excellent,Health_Fair,Health_Good,Health_Poor,Health_VeryGood,over50,isFemale
0,143356,0,23.62,True,True,True,30,30,True,Female,...,0,0,1,0,1,0,0,0,False,True
1,290536,0,22.43,True,True,True,1,0,True,Male,...,0,0,1,0,0,0,0,1,False,False
2,31529,0,33.28,True,True,True,20,30,True,Female,...,1,0,0,0,1,0,0,0,False,True
3,234535,0,24.96,True,True,True,0,0,True,Female,...,0,0,1,0,0,0,0,1,True,True
4,264814,0,27.25,True,True,True,0,0,True,Female,...,0,0,1,0,0,0,0,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,Male,...,0,0,1,1,0,0,0,0,True,False
255832,237010,0,20.16,True,True,True,0,8,True,Male,...,0,0,1,0,0,1,0,0,False,False
255833,89082,0,18.89,True,True,True,0,0,True,Female,...,0,0,1,1,0,0,0,0,False,True
255834,117491,0,25.02,True,True,True,0,0,True,Male,...,0,0,1,0,0,1,0,0,True,False
255835,241204,0,32.55,True,True,True,0,0,True,Male,...,0,0,1,0,0,1,0,0,True,False

In [27]:
heart = heart.drop(columns=['Sex'], axis=1)
heart

,ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Diabetic,...,Hispanic,Other,White,Health_Excellent,Health_Fair,Health_Good,Health_Poor,Health_VeryGood,over50,isFemale
0,143356,0,23.62,True,True,True,30,30,True,True,...,0,0,1,0,1,0,0,0,False,True
1,290536,0,22.43,True,True,True,1,0,True,True,...,0,0,1,0,0,0,0,1,False,False
2,31529,0,33.28,True,True,True,20,30,True,True,...,1,0,0,0,1,0,0,0,False,True
3,234535,0,24.96,True,True,True,0,0,True,True,...,0,0,1,0,0,0,0,1,True,True
4,264814,0,27.25,True,True,True,0,0,True,True,...,0,0,1,0,0,0,0,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255831,52260,0,30.81,True,True,True,0,0,True,True,...,0,0,1,1,0,0,0,0,True,False
255832,237010,0,20.16,True,True,True,0,8,True,True,...,0,0,1,0,0,1,0,0,False,False
255833,89082,0,18.89,True,True,True,0,0,True,True,...,0,0,1,1,0,0,0,0,False,True
255834,117491,0,25.02,True,True,True,0,0,True,True,...,0,0,1,0,0,1,0,0,True,False
255835,241204,0,32.55,True,True,True,0,0,True,True,...,0,0,1,0,0,1,0,0,True,False

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [29]:
outcome = 'HeartDisease'
predictors = list(heart.columns)
predictors.remove(outcome)

X = heart[predictors]
y = heart[outcome]

In [30]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 305, stratify = y)

# After splitting the data, scale it so it performs well
scaler = preprocessing.StandardScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [31]:
# First: fully grown tree that will likely overfit

full_tree = DecisionTreeClassifier(random_state=305)
full_tree.fit(X_train_scaled, y_train)

y_pred_train = full_tree.predict(X_train_scaled)
y_pred_test = full_tree.predict(X_test_scaled)

train_score = accuracy_score(y_train, y_pred_train)
test_score = accuracy_score(y_test, y_pred_test)

print("Train score: ", train_score)
print("Test score: ", test_score)

Train score:  1.0
Test score:  0.8539041836588448

In [32]:
# Third: a tree with the best limitations using grid search
param_grid = {
    'max_depth': [10, 20, 30, 40],
    'min_samples_leaf': [20, 50, 100, 200],
    'min_impurity_decrease': [0, 0.0005, 0.001, 0.005, 0.01],
}


gridSearch = GridSearchCV(DecisionTreeClassifier(), param_grid, cv=5, scoring = 'accuracy')
gridSearch.fit(X_train_scaled, y_train)

print('Best accuracy: ', gridSearch.best_score_)
print('Parameter values to achieve best accuracy: ', gridSearch.best_params_)

Best accuracy:  0.9144037747438366
Parameter values to achieve best accuracy:  {'max_depth': 10, 'min_impurity_decrease': 0.0005, 'min_samples_leaf': 20}

In [33]:
best_tree

NameError: name 'best_tree' is not defined

In [ ]:
y_pred_train = gridSearch.predict(X_train_scaled)
y_pred_test = gridSearch.predict(X_test_scaled)

train_score = accuracy_score(y_train, y_pred_train)
test_score = accuracy_score(y_test, y_pred_test)
print("Train score: ", train_score)
print("Test score: ", test_score)

Train score:  0.9144047959402473
Test score:  0.9144039441728599

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
score = f1_score(y_test, y_pred_test, pos_label='Yes')
# Must change pos_label because it assumes that it is a binary 0,1

In [ ]:
score

0.0

In [ ]:
pip install imbalanced-learn

Collecting imbalanced-learnNote: you may need to restart the kernel to use updated packages.
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)

WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)

Requirement already satisfied: scipy>=1.5.0 in c:\users\crush\anaconda3\lib\site-packages (from imbalanced-learn) (1.11.2)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\crush\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\crush\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\crush\anaconda3\lib\site-packages (from imbalanced-learn) (1.25.2)
Installing collected packages: joblib, imbalanced-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.12.0 joblib-1.3.2

WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\crush\anaconda3\lib\site-packages)

In [ ]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [ ]:
X, y = make_classification(n_classes=2, class_sep=2,
                           weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
                           n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=10)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
print('Original training dataset shape %s' % Counter(y_train))

Original training dataset shape Counter({1: 676, 0: 74})

In [ ]:
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

print('Resampled training dataset shape %s' % Counter(y_train_res))

Resampled training dataset shape Counter({1: 676, 0: 676})

In [ ]:
tree = DecisionTreeClassifier(
      max_depth=10,
      min_samples_leaf = 20,
      min_impurity_decrease = 0.0005,
      criterion = 'gini')

tree.fit(X_train_res, y_train_res)

DecisionTreeClassifier(max_depth=10, min_impurity_decrease=0.0005,
                       min_samples_leaf=20)

In [ ]:
y_pred = tree.predict(X_test)
score = f1_score(y_test, y_pred)
score

In [ ]:
X, y = make_classification(n_classes=2, class_sep=2,
                           weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
                           n_features=20, n_clusters_per_class=1, n_samples=10000, random_state=10)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=305)
print('Original training dataset shape %s' % Counter(y_train))

Original training dataset shape Counter({1: 6744, 0: 756})

In [ ]:
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

print('Resampled training dataset shape %s' % Counter(y_train_res))

Resampled training dataset shape Counter({1: 6744, 0: 6744})

In [ ]:
tree = DecisionTreeClassifier(
      max_depth=10,
      min_samples_leaf = 20,
      min_impurity_decrease = 0.0005,
      criterion = 'gini')

tree.fit(X_train_res, y_train_res)

DecisionTreeClassifier(max_depth=10, min_impurity_decrease=0.0005,
                       min_samples_leaf=20)

In [ ]:
y_pred = tree.predict(X_test)
score = f1_score(y_test, y_pred)
score

0.9900022217285047

In [ ]:
# TODO Make predictions on the actual test dataset with your model

# Assuming the ID column is named 'ID' and you don't want it as part of the features
features = processed_submission_test.drop(columns=['ID'])

# Make predictions
predictions = tree.predict(features)